body {
  background-color: #FFF4F2;
}

.pinkbackground {
  background-color: #F8DCDB;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  color: #2D3142;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}

.h2_leftalign {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2D3142;
  padding-left: 20px;
  padding-right: 20px;
}

.p_centeralign {
  text-align: center;
}

.btn {
  height: 41px;
  width: 127px;
  border-radius: 7px;
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
}

.blue {
  background-color: #2D3142;
}

.blue:hover {
  background-color: #A8B2C1;
  color:#2D3142;
}

.pink {
  background-color: #E35153;
}

.pink:hover {
  background-color: #ED8082;
}

a {
  text-decoration: none;
  color: #2D3142;
}

.footer_flexcontainer {
  display: flex;
  justify-content: space-between;
}

.program_box {
  height: 91px;
  width: 353px;
  background-color: #FFFFFF;
  margin: auto;
  border-color: #707070;
  border-style: solid;
}
