/*Mobil*/
:root {
  color-scheme: light dark;
}

@font-face {
  font-family: fa;
  src: url(../assets/Miller-DisplayRoman.otf);
}

* {
  margin: 0;
  padding: 0;
}

button {
  font-family: fa;
}

body {
  background-color: #FFF4F2;
  font-family: fa;
}

section {
  padding-bottom: 30px;
}

.pinkbackground {
  background-color: #FCE9E6;
  padding-bottom: 30px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

footer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: #FBDFDE;
}

.footer_follow {
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

.social_symbol {
  margin: 20px 7px 20px 7px;
}

h1 {
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  color: #2D3142;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}

h3 {
  font-size: 20px;
  color: #2D3142;
  margin: 5px;
}


p {
  font-size: 14px;
  line-height: 25px;
  color: #2D3142;
  padding-left: 20px;
  padding-right: 20px;
}

.p_centeralign {
  text-align: center;
  margin-top: 10px;
}

.btn {
  height: 41px;
  width: 127px;
  border-radius: 7px;
  margin: auto;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #2D3142;
}

.blue:hover {
  background-color: #A8B2C1;
  color:#2D3142;
}

.pink {
  background-color: #E35153;
}

.pink:hover {
  background-color: #ED8082;
}

a {
  text-decoration: none;
  color: #2D3142;
}

.h2_program {
  margin: 120px 0 20px 0;
}

.program_box {
  height: 91px;
  width: 353px;
  background-color: #FFFFFF;
  margin: auto;
  border-color: #707070;
  border-style: solid;
}

.submitform {
  display: flex;
  flex-direction: column;
}

.inputform {
  width: 200px;
  margin: 5px auto 5px auto;
  height: 30px;
  font-size: 14px;
}

.btn_deal {
  height: 35px;
  width: 170px;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  border-style: hidden;
}

.btn_form {
  border: none;
}

.symbol {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
}

.center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.billet {
  width: 50%;
  height: auto;
}

.hero_movie {
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-bottom: 20px; 
}

.program_box {
  display: flex;
  border: 1px solid;
  margin: 10px;
  width: 80%;
  height: auto;
  align-items: center;
}

.content_p {
  font-size: 14px;
  color: #2D3142;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 15px;
  text-align: center;

}

.content_container {
  flex: 1;
  text-align: left;
}

.image_container {
  width: 25%; 
  height: auto; 
  overflow: hidden;
  object-fit: cover;
}

.program_image {
  width: 100%;
  height: 100%;
}

.udforsk_btn {
  margin-bottom: 20px;
}

.margin_p {
  margin: 0 0 20px 20px;
}

.h2_margin {
  margin-top: 120px;
}
.om_arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*Forside*/
.welcome_container_home {
  display: flex;
  flex-direction: column;
}

.hero_forside {
background-image: url("../assets/pictures/heroshot.jpg");
height: 400px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
flex-direction: column;
}

.p_hero {
  color: white;
}

.h1_home{
  margin-top: 200px;
  margin-bottom: 20px;
}
.flex_hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.udforsk_forside {
  margin-top: 50px;
  margin-bottom: 15px;
}

.h2_velkommen {
  margin: -10px 0 20px 0;
}

.btn_win {
  height: 35px;
  width: 170px;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

/* Konkurrencebtn */
.konkurrencemodal {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visability 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.konkurrencemodal.show {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.konkurrencemodal.show .konkurrencemodal_content {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  border: 2px solid #ED8082;
}

.konkurrencemodal_content {
  padding: 10px;
  border-radius: 10px;
  max-width: 600px;
  width: 66%;
  height: auto;
  background: #FCE9E6;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  color: black;
  transform: scale(0.5);
  transition: opacity 0.4s ease-in-out, visability 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.konkurrencemodal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.konkurrencemodal_title {
  font-weight: normal;
  font-family: fa;
  font-size: 25px;
  align-content: center;
  color: #2D3142;
}

.konkurrencemodal_close {
  padding: 5px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #ED8082;
  display: flex;
  justify-content: flex-end;
}

.konkurrencemodal_body {
  padding: 10px;
}

label {
  font-weight: bold;
}

textarea{
  height: 100px;
}

button {
  background-color: var(--green-primary);
  color: var(--white);
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 18px;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

.konkurrencemodal_footer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.post {
  margin: 15px;
  padding: 10px 30px;
  cursor: pointer;
  color: #f2f2f2;
  background-color: #ED8082;
}

.input_modal {
  padding: 0 20px;
}

.feedback p {
  line-height: 25px;
}


/* Vinudstillere */
@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.slideshow-container {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}

.slideshow-container:hover .slider-track{
  animation-play-state: paused;
}
.slider-track {
  display: inline-block;
  box-sizing: border-box;
  animation: 20s slide infinite linear;
}

.slider-track img {
  height: 200px;
  margin: 0 40px;

}

/*Om os*/
.omOs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.om_box {
  width: 235px;
}
.omOs_image {
  height: 100%;
  width: 235px;
  margin-top: 40px;
}

.omOs_description {
  margin: 5px -20px 0 -20px;
}

/*historie*/
#historie_section {
  background-image: url("../assets/pictures/timeline_mobile.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  margin-right: 5px;
}
.historie_container {
    display: flex;
    flex-direction: column;
}
.historie_box {
    width: 235px;
    margin-left: 20px;
}
.historie_image {
    height: 100%;
    width: 235px;
}

.historie_description {
    margin: 40px -20px 0 -20px;
}

.historie_title {
    text-align: center;
}

#historie_img {
  margin-top: 10px;
}

/*Lær mere*/
.container_laermere {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-bottom: 20px;
}

.laerMere_box {
  display: flex;
  border: 1px solid;
  margin: 10px;
  width: 80%;
  height: auto;  
  background-color: #FFFFFF;
  border-color: #707070;
}

.laerMere_p {
  font-size: 14px;
  color: #2D3142;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 15px;
}

.image_container_lm {
    width: 30%;
}

.laerMere_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.laesmere_btn {
    margin: 10px 0px 10px 20px;
}

.laerMere_h3 {
    margin-left: 20px;
}

/*Riedel glas*/
.flex_container_rg {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.pink_box {
  background-color: #FCE9E6;
  width: 150px;
  height: 265px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glas_p {
  text-align: center;
}

.glas_btn {
  margin: 30px auto 0 20px;
}

.wine_symbol {
  margin: 30px 0 20px 0;
}

/*Billet information*/
.welcome_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.h2_billet {
  text-align: left;
  margin: 120px 0 20px 20px;
}

/*Tablet*/
@media screen and (min-width: 601px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
    line-height: 48px;
  }

  p {
    font-size: 17px;
  }

  footer {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
  }

  .footer_follow {
    order: 2;
    width: auto;
  }

  .footer_info{
    order: 1;
  }

  .footer_find {
    order: 3;
  }

  .p_centeralign {
    margin: 20px 0 5px 0;
  }

  .footer_info > p {
    line-height: 40px;
  }

  .footer_find > p {
    line-height: 40px;
  }

  .social_symbol {
    margin: 30px 7px 0px 7px;
  }

  .btn {
    height: 49px;
    width: 152px;
    font-size: 17px;
  }
  
  .inputform {
    width: 250px;
    margin: 8px auto 8px auto;
    height: 30px;
    font-size: 17px;
  }

  .pink_box {
    height: 295px;
  }

  .h1_home {
    margin-top: 190px;
  }

  .udforsk_forside {
    margin-top: 45px;
    margin-bottom: 15px;
  }

  .btn_win {
    height: 40px;
    width: 180px;
    font-size: 17px;
  }

  /*Om os*/
  .omOs_image {
    height: 100%;
    width: 350px;
    margin-top: 40px;
}
    .om_box {
    width: 350px;
}

  /*historie*/
  .historie_image {
    height: 100%;
    width: 300px;
}
    .historie_box {
    width: 300px;
    margin-left: 50px;
}

#historie_section {
    background-image: url("../assets/pictures/timeline_tablet.png");
    background-size: auto 100%;
}

/*Lær mere*/
.laesmere_btn {
  margin-top: 35px;
}
.laerMere_h3 {
  margin-top: 20px;
}

  
}

/*Web*/
@media only screen and (min-width: 960px) {

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 25px;
    line-height: 54px;
  }

  p {
    font-size: 17px;
  }

  .p_centeralign  {
    margin-top: 20px;
  }

  .footer_info > p {
    line-height: 50px;
  }

  .footer_find > p {
    line-height: 50px;
  }

  .social_symbol {
    margin: 30px 10px 20px 10px;
  }

  .btn {
    height: 61px;
    width: 190px;
    font-size: 20px;
  }

  .inputform {
    width: 300px;
    margin: 10px auto 10px auto;
    height: 40px;
    font-size: 17px;
  }

  /* Program */

  .container_distance {
    display: flex;
    justify-content: center;
  }
  
   .program_box {
      display: flex;
      flex-direction: column;
      height: 400px;
    }
  
    .container {
      flex-direction: row;
      width: 80%;
    }
  
    .content_container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .image_container{
      width: 100%;
    }

    .margin_p {
      margin-left: 85px;
    }

    .h2_leftalign {
      margin-left: 85px;
      text-align: left;
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px;
    }

    .pink_box {
      height: 190px;
      width: 250px;
    }

    /*Forside*/
    .welcome_container_home {
      flex-direction: row;
      align-items: center;
      margin-left: 85px;
    }

    .welcome_leftalign_home {
      width: 50%;
    }

    .welcome_rightalign_home {
      width: 50%;
  }
  .hero_forside {
    height: 800px;
  }

  .hero_forside background-image {
    width: 100%;
    height: 100%;
  }

  .h1_home {
    margin-top: 400px;
    margin-bottom: 55px;
  }

  .p_hero {
    font-size: 30px;
  }

  .udforsk_forside {
    margin-top: 170px;
    margin-bottom: 20px;
  }

  .center_p {
    text-align: center;
  }
  
  .btn_win {
    height: 55px;
    width: 220px;
    font-size: 20px;
  }

    /*Om os*/
    .omOs_container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin: -20px 20px 20px 20px;
      align-items: self-start;
  }

  .omOs_description {
      margin: 0px -20px 0px -20px;
  }

    /*historie*/
    #historie_section {
      background-image: url("../assets/pictures/roseflaske.png");
      background-position: center;
      height: 700px;
  }
  .historie_image {
      height: 100%;
      width: 300px;
  }
      .historie_box {
      width: 300px;
      margin-left: 120px;
  }

  .historie_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .historie_box:nth-child(2) {
    margin-top: 160px;
    margin-right: 120px;
  }

  /*Lær mere*/
  .container_distance_lm {
    display: flex;
    justify-content: center;
  }
  
   .laerMere_box {
      display: flex;
      flex-direction: column-reverse;
      height: 400px;
    }
  
    .container_laermere {
      flex-direction: row;
      width: 90%;
    }
  
    .content_container_lm {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .laerMere_container{
      width: 100%;
    }

    .image_container_lm {
        width: 100%;
        height: 40%;
    }

    .laesmere_btn {
        margin: 10px 0px 10px 0px;
    }

    .laerMere_h3
    {
        margin: 0;
        
    }

    .laerMere_p {
      font-size: 17px;
      line-height: 25px;
    }

    /*Billetinformation*/
    .welcome_container {
      flex-direction: row;
      align-items: center;
      margin-left: 85px;
      margin-bottom: 75px;
    }

    .welcome_leftalign {
      width: 50%;
    }

    .welcome_rightalign {
      width: 50%;
      justify-content: flex-end;
    }

    .h2_billet {
    margin-left: 105px;
    }

    .billet {
      margin-top: -75px;
    }

}
